@model Contact
<h1>Contact Details</h1>

<p>First Name : @Model.FirstName</p>
<p>Lat Name : @Model.LastName</p>
<p>Company Name : @Model.CompanyName</p>
<p>EmailId : @Model.EmailId</p>
<p>Mobile No : @Model.MobileNo</p>
<p>Designation : @Model.Desingation</p>

<a asp-controller="Contact" asp-action="ShowContacts">Back to List</a>


