@model ContactInfo
<h1>Contact Details</h1>

<p>Contact Id: @Model.ContactId<p/>
<p>First Name: @Model.FirstName<p/>
<p>Last Name: @Model.LastName
<p />
<p>Email Id: @Model.EmailId
<p />
<p>Mobile No: @Model.MobileNo
<p />
<p>Designation: @Model.Designation
<p />
<p>Company Id: @Model.Company.CompanyId
<p />
<p>Company Name: @Model.Company.CompanyName
<p />

<p>Department Id: @Model.Department.DepartmentId
<p />
<p>Department Name: @Model.Department.DepartmentName
<p />

<a asp-controller="Contact" asp-action="Index">Back to List</a>
